/* استایل کلی کانتینر کاروسل */
.product-carousel-container {
  background-image: url(src/assets/img/home/Salessection.svg);
  background-size: cover;
  border-radius: 8px;
  padding: 30px;
  color: white;
  text-align: center;
  overflow-x: scroll;
  position: relative;
}

.carousel-title {
  width: 18%;
  margin-top: 50px;
  float: left;
  font-size: 1.7rem;
}
.pragraph-carousel-title{
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: -5%;
}

/* استایل کانتینر کارت‌ها */
.carousel-cards-container {
  width: 75%;
  left: 70px;
  display: flex;
  overflow-x: visible;
  gap: 0px;
  position: relative;
  justify-content: left;
}


/* استایل دکمه‌های کاروسل */
.carousel-button {
  background: none;
  border: none;
  padding: 0px;
  margin-inline: 5px;
  position: relative;
  float: left;
}

.circle-arrow {
  transition: all 0.3s ease;
  width: 40px;
}

.circle-arrow:hover {
  width: 50px;
  height: 50px;

}
/* استایل کارت محصول */
.product-card {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 0px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 0 auto;
  overflow: auto;
}

.product-card.active {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* استایل تصویر محصول */
.product-image {
  width: 100%;
  height: 20%;
  border-radius: 8px;
}

/* استایل نام محصول */
.product-name {
  font-size: 16px;
  margin-bottom: 5px;
  height: 40px;
}

/* استایل قیمت محصول */
.product-price {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* استایل نشان تخفیف */
.discount-badge {
  background-color: #f8394c42;
  color: rgb(255, 4, 4);
  padding: 1px 8px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 2;
  position: absolute;
  margin-left: -13px;
}

/* استایل دکمه Shop Now */
.shop-now-button {
  width: 50%;
  height: 45px;
  color: white;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;

}

.shop-now-button:hover {
  transform: scale(1.05);
}

@media (max-width:426px) {
  .shop-now-button {
    width: 150px;
  }

  .carousel-title{
    width: auto;
    margin-top: 0px;
    font-size: 1.1rem;
  }
  .pragraph-carousel-title{
    font-size: 0.9rem;
  
  }
  .carousel-cards-container {
    width: auto;
    left: 0px;
  }

  .product-carousel-container {
    padding: 20px;
    padding-left: 0px;
  }
  .shop-now-button {
    font-size: 1rem;
  
  }
}